<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="navbar-top-fixed.css">
</head>
<body>
    <form action="{% url 'result' %}">
        {% csrf_token %}
        <label for="instagramID">Instagram ID : </label>
        <input type="text" id="instagramID" name="instagramID" />
        <input type="submit" value="OK"/>
    </form>
</body>
</html>